html {
  box-sizing: border-box;
  scroll-behavior:smooth;
  font-size: 10px;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul, img {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Comic Neue', sans-serif;
  font-style: normal;
  font-size: 3rem;
  font-weight: 400;
  line-height: 2rem;
  background-color: rgba(119, 136, 153,0.3);
  position: static;
}

h1 {
  font-family: 'Comic Neue', sans-serif;
  color: #000;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  padding: 1.25rem 0 1.75rem; 
}

.accordion {
  max-width: 60%;
  min-height: 100%;
  padding: 1.75rem 15rem;
  margin: auto;
  position: static;
  
  
}

.accordion-item_input{
  display: block;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; /*как выставить без этого*/
  cursor: pointer;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('./svg/plus_icon_2.svg');
  opacity: 0;
  background-position: center;
  transition: all .2s ease 0s;
}

p {
  color: #708090;
  transition: all .2s ease 0s;
}

.accordion-item {
  min-width: 100%;
  /*height: 100%;*/
  height: auto;
  border-top: 1px solid rgba(119, 136, 153,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  min-width: 100%;
  height: 4rem; /* как установить в %? */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

/*.img-meme {
  display: none;
  padding: 1rem 0 4rem;
}

.img {
  width: 40rem;
  transition: all 3s ease 0s;
}*/

.img-meme {
  opacity: 0;
  height: 0%;
  transition: all 0.5s ease 0s;
  padding: 1.5rem;

}

.img {
  width: auto;
  height: 0rem;
  transition: all 0.8s ease 0s;
}

.accordion:hover p {
  color: #000;
}

.accordion-item_input:checked ~ .img-meme{
  /*height: 100%;*/
  opacity: 1;
}

.accordion-item_input:checked ~ .img-meme .img{
  height: 34rem;
}

.accordion:hover .icon {
  opacity: 1;
}

.accordion-item:hover .icon{
  background-image: url('./svg/close_icon.svg');
  width: 2.25rem;
}

.accordion-item_input:checked ~ .wrapper .icon{
  background-image: url('./svg/close_icon.svg');
  width: 2.25rem;
}

.accordion-item:hover .img-meme {
  /*height: 100%;*/
  opacity: 1;
}

.accordion-item:hover .img-meme .img {
  height: 34rem;
}





